@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    background-image: linear-gradient(to top right, #64e3ff, #ffaf9f);
}

.app {
    width: min(95vw, 31.25em);
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 2.875em;

    & .container {
        height: 80vh;
        overflow-y: scroll;
        padding: 2em 2.5em;
        background-color: #f1f8fb;
        box-shadow: 0 1em 2em rgba(0, 0, 0, 0.3);
        border-radius: 0.8em;

        & .title-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
            margin-bottom: 30px;

            & h1 {
                font-size: 2em;
                font-weight: 600;
                letter-spacing: 1px;
            }

            & img {
                width: 5em;

            }


        }

        & #wrapper {
            position: relative;
            display: grid;
            grid-template-columns: 8fr 3fr;
            gap: 1em;

            & input {
                width: 100%;
                background-color: transparent;
                color: #111111;
                font-size: 1.2em;
                border: none;
                border-bottom: 2px solid #d1d3d4;
                padding: .2em 0.5em;
                letter-spacing: 2px;

                &:focus {
                    outline: none;
                    border-color: #5a95ff;
                }

                &::placeholder {
                    color: #585858;
                    font-size: 1em;
                    letter-spacing: 1.5px;
                }
            }

            & button {
                position: relative;
                border-radius: 0.5em;
                font-weight: 500;
                font-size: 1.2em;
                border: none;
                outline: none;
                color: #ffffff;
                background-color: #5a95ff;
                cursor: pointer;
                letter-spacing: 1px;
            }
        }
    }

    & #error {
        text-align: center;
        background-color: #ffffff;
        color: #ff5c5c;
        margin-top: 1.5em;
        padding: 1em 0;
        border-radius: .8em;
        display: none;
        letter-spacing: 1px;
        font-size: 1.1em;
    }
}

#tasks {
    margin-top: 1em;
    border-radius: .5em;
    width: 100%;
    padding: 1em .5em;
    letter-spacing: 1.2px;
}

.task {
    background-color: #ffffff;
    padding: 0.8em 1em;
    display: grid;
    grid-template-columns: 1fr 8fr 2fr 2fr;
    gap: 1em;
    border-radius: 0.5em;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.15);
    align-items: center;


    & .taskname {
        letter-spacing: 2px;
        font-size: 1.1em;
    }

    &:not(:first-child) {
        margin-top: 1em;
    }

    & input[type="checkbox"] {
        position: relative;
        appearance: none;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        border: 2px solid #e1e1e1;
        cursor: pointer;

        &::before {
            content: "";
            position: absolute;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;
        }
    }

    & input[type="checkbox"]:checked {
        background-color: #5a95ff;
        border-color: #5a95ff;

        &::before {
            position: absolute;
            content: "\f00c";
            color: #ffffff;
            font-size: .8em;
            font-family: "Font Awesome 5 Free";
            font-weight: 900;

        }
    }

    & span {
        font-size: 0.9em;
        font-weight: 400;
        word-break: break-all;
    }

    & button {
        color: #ffffff;
        width: 100%;
        padding: .7em 0;
        border-radius: .5em;
        font-size: 1em;
        border: none;
        cursor: pointer;
        outline: none;
    }

    & .edit {
        background-color: #5a95ff;
    }

    & .delete {
        background-color: #ff5c5c;
    }
}

.completed {
    text-decoration: line-through;
    color: #a0a0a0;
}

@media (width<=1024px) {
    * {
        font-size: 98%;
    }
}

@media (width<=425px) {
    * {
        font-size: 96%;
    }
}

@media (width<=375px) {
    * {
        font-size: 97%;
    }
}